*
!*.*
!*/
bin/*
sim_output/step_1/*
sim_output/step_2/*
sim_output/step_3/*
sim_output/step_4/*
sim_output/step_5/*
sim_output/step_6/*
sim_output/step_7/*
sim_output/step_8/*
sim_output/step_9/*
sim_output/step_10/*
sim_output/step_11/*
sim_output/step_12/*
